*,
*::before,
*::after {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Neue Haas Grotesk', sans-serif;
}

.hidden-accessible,
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
