*,
*::before,
*::after {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Neue Haas Grotesk', sans-serif;
}

.hidden-accessible,
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* hack to replicate Core */
.webtext-figure {
	margin-bottom: 40px !important;
}

:root {
	--top-bar-height: 52px;
}

.footnote-anchor {
	cursor: pointer;
}

.footnote-ref {
	scroll-margin-top: calc(var(--top-bar-height) + 150px);
}

blockquote {
	font-style: normal !important;
}
